@model Gp.Models.DishCategory

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center">Category Details</h1>

    <div>
        <h4>DishCategory</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Restaurant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Restaurant.RestaurantName)
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.DishCategoryID" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
</div>
